logs/*
python/logs/*
private/*
private (backup)/*
youtube-*
*/.vscode
/test/**
.vscode/*
.idea/**
tests.py
python/chatbridge.py
saves/*
**/__pycache__/**
hs_err_pid**
/java/build/**
**/tmp/**
**/.gradle/**
/java/.gradle/6.3/**
/java/.gradle/6.5/**
/java/build/classes/**
/java/out/**
/java/build/resources/**
/java/.gradle/checksums/**
/java/.gradle/vcs-1/gc.properties
/java/.gradle/buildOutputCleanup/**
/python/omenabot.python.iml
