logs/*
python/logs/*
private/*
*/.vscode
.vscode/*
.idea/**
tests.py
python/chatbridge.py
saves/*
**/__pycache__/**
/java/.gradle/6.3/**
/java/.gradle/6.5/**
/java/build/classes/**
/java/build/resources/**
/java/.gradle/checksums/**
/java/.gradle/vcs-1/gc.properties
/java/.gradle/buildOutputCleanup/**
/python/omenabot.python.iml
